.hero {

  position: relative;

  height: 350px;

  border-radius: 24px;

  margin: 24px 0;

  overflow: hidden;

  display: flex;

  flex-direction: column;

  justify-content: center;

  padding-left: 50px;

  color:white;
  background: var(--card-bg);

  z-index: 1;

}



.hero::before {

  content: "";

  position: absolute;

  inset: -1%; 

  background-image: url("C:\Users\anya-jha\work\cake-website\public\images\up2.jpg");

  background-size: cover;

  background-position: center;

  transform-origin: center;

  z-index: -1;

}


.hero::after {

  content: "";

  position: absolute;

  inset: 0;

  background: rgba(0,0,0,0.45);

  z-index: -1;

}

.hero h1 {

  font-size: 40px;

}

.hero p {

  margin: 10px 0;

}
.hero p:first-of-type {
 font-size: 20px;
 font-weight: 500;
 opacity: 0.9;
 margin-bottom: 14px;
}
.hero p:last-of-type {
 max-width: 620px;
 font-size: 17px;
 line-height: 1.6;
 opacity: 0.9;
}
 
