.products {

  padding: 40px;

}

.product-grid {

  display: flex;

  gap: 20px;

}

.card {

  width: 220px;

  padding: 15px;

  background: #f9e0c7;

  border-radius: 15px;

  text-align: center;

}

.card img {

  width: 100%;

  height: 150px;

  object-fit: contain;

}

.card button {

  margin-top: 10px;

  background: #7b2e2e;

  color: white;

  border: none;

  padding: 8px 15px;

  border-radius: 15px;

}
 
