* {

  box-sizing: border-box;
  background-color: black;

}

body {

  margin: 0;

  font-family: 'Inter', sans-serif;

  background: #8b6742;

}

/* MAIN PAGE CONTAINER */

.page-container {

  max-width: 1200px;

  margin: auto;

  padding: 0 24px;

}

 
